@use '../base/variables' as v;

.no-webp
.imagen-contanto{
    background-image: url(../img/encuentra.jpg);
}
.webp
.imagen-contanto{
    background-image: url(../img/encuentra.webp);
}
.imagen-contanto{
    background-position:center center;
    background-size: cover;
    padding: v.$separacion *2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 4rem;
        color: v.$blanco;
        font-weight: v.$black;
    }
    p{
        font-size: 1.8rem;
        color: v.$blanco;
    }
}