@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor-nosotros {
    @include m.tablet {
        @include m.grid(2, 2.5rem)
    }

    blockquote{
        font-size: 2.2rem;
        font-weight: v.$black;
        margin: 3rem 0 0 0;
        padding-left: 1rem 0 3rem 0;
        @include m.tablet{
            margin: 0;
        }
    }
}

.imagen-nosotros {
    @include m.tablet{
        position: relative;
        picture{
            position: absolute;
            bottom: 65rem;
        }
    }

    @include m.desktop {
        picture {
            bottom: 10rem;
        }
    }
    
}